<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ng Mad Libs</title>
	<link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">

	<link rel="stylesheet" href="assets/css/main.css" />

</head>
<body>

<div class="page" ng-app="ngMadLibs" ng-controller="formController">

	<div class="header">
		<div class="row">
			<div class="logo large-2 columns">
				<img src="assets/img/mad-lib-happy-face.png" alt="" />
			</div>
			<div class="banner large-10 columns">
				<img src="assets/img/ng-mad-libs-logo.png" alt="" />
			</div>
		</div>
	</div>

	<div class="words">
		<form name="myForm" novalidate>

			<div class="row">

				<div class="large-6 columns">
					<label>Choose a gender:</label>
					<input type="radio" name="gender" ng-model="formData.gender" value="male" id="maleGender" ng-checked="{{gender.pronoun == 'he'}}" ng-click="gender.pronoun='he';gender.possessive='his'"><label for="maleGender">Male</label>
					<input type="radio" name="gender" ng-model="formData.gender" value="female" id="femaleGender" ng-checked="{{gender.pronoun == 'she'}}" ng-click="gender.pronoun='she';gender.possessive='her'"><label for="femaleGender">Female </label>

					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.gender.$error.required">
						Choose a gender
						<a href="#" class="close">&times;</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<input type="text" placeholder="{{formData.gender}} name" ng-model="data.name" name="persons_name" required />
					<input type="text" placeholder="job title" ng-model="data.jobTitle" name="job_title" required />
					<input type="text" placeholder="tedious task" ng-model="data.tediousTask" name="tedious_task" required />

					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.persons_name.$error.required">
						Person name is required.
						<a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.job_title.$error.required">
						Job title is required.
						<a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.tedious_task.$error.required">
						Tedious task is required.
						<a href="#" class="close">&times;</a>
					</div>

				</div>
				<div class="small-4 columns">
					<input type="text" placeholder="dirty task" ng-model="data.dirtyTask" name="dirty_task" required />
					<input type="text" placeholder="celebrity" ng-model="data.celebrity" name="celebrity" required />
					<input type="text" placeholder="useless skill" ng-model="data.uselessSkill" name="useless_skill" required />

					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.dirty_task.$error.required">
						Dirty task is required.
						<a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.celebrity.$error.required">
						Celebrity name is required.
						<a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.useless_skill.$error.required">
						Useless skill is required.
						<a href="#" class="close">&times;</a>
					</div>
				</div>
				<div class="small-4 columns">
					<input type="text" placeholder="obnoxious celebrity" ng-model="data.obnoxiousCelebrity" name="obnoxious_celebrity" required />
					<input type="text" placeholder="huge number" ng-model="data.hugeNumber" name="huge_number" type="number" min="1" max="100000000000" required />
					<input type="text" placeholder="adjective" ng-model="data.adjective" name="adjective" required />

					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.obnoxious_celebrity.$error.required">
						Obnoxious celebrity name is required.
						<a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.huge_number.$error.required || myForm.huge_number.$error.number">
						A huge number is required.
						<a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box warning radius" ng-if="myForm.$submitted && myForm.adjective.$error.required">
						Adjective is required.
						<a href="#" class="close">&times;</a>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="small-12 columns">
					{{myForm.huge_number | json}}


				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<button type="submit" class="submit secondary">Generate My Mad Lib</button>
				</div>
			</div>
		</form>


	</div>

	<div class="content">
		<p><span class="answer">{{data.name}}</span> was a {{data.jobTitle}} who loved technology. Although
			{{gender.pronoun}} loved parts of
			{{gender.possessive}} job, {{gender.pronoun}}
			absolutely
			hated {{data.tediousTask}} and {{data.dirtyTask}}. So, {{data.name}} met with {{gender.possessive}} life
			mentor
			{{data.celebrity}} who told
			{{gender.possessive}} to learn how to {{data.uselessSkill}} with Thinkful. Thinkful didn't offer a course on
			{{data.uselessSkill}} so {{gender.pronoun}}
			studied programming instead.</p>

		<p>What a great decision! With {{gender.possessive}} new skills, {{data.name}} built a(n) {{data.adjective}}
			robot named
			{{data.obnoxiousCelebrity}} that not only loved {{data.dirtyTask}} but did it {{data.hugeNumber}}
			faster.</p>
	</div>
</div>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/vendor/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
	$( document ).foundation();
</script>
<script src="assets/js/main.js"></script>

</body>
</html>