// All Sass tools and helpers.
@import "bourbon/_bourbon";

body {
	background: whitesmoke;
}

.page {
	width: 960px;
	margin: 20px auto;
	background: white;
	border: 3px solid black;
}

.header {
	border-bottom: 3px solid black;
	text-align: center;
}

.logo {
	border-right: 3px solid black;
	padding: 10px;

}

.banner {
	img {
		margin-top: 20px;
	}
}

.words {
	border-bottom: 3px solid black;
	padding: 30px 20px 20px;
}

.content {
	padding: 30px 20px 20px;

}

.answer {
	color: #3072d1;
}